<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
</head>
<body>

    <h1>Information About: {{ student }}</h1>

    <h3>Courses: </h3>
    <ul>
        {% for course in student.course_set.all %}
            <li>{{ course }}</li>
        {% endfor %}
    </ul>
</body>
</html>