<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

    <h1>Course List</h1>

    <ul>
    {% for course in courses %}
        <li>{{ course.name }}</li>
        <ul>
        {% for student in course.student_ids.all %}
            <li>{{ student }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>

</body>
</html>